body {
	font-family: "Spoqa Han Sans";
	font-weight: 200;
	color: #fff;
	background: 
linear-gradient(-45deg, transparent 50%, hsla(0,50%,0%,0.5) 51%, transparent 52%),
radial-gradient(circle at center 10%, transparent, #000),
url(../image/Rain-City.jpg) no-repeat center;
background-size:30px 30px, 100%, cover;
}



main {
    padding-top: 6em;
    width: 960px;
    margin-left: auto;
    margin-right: auto;
}


#page-header-bar {
    position: fixed;
    width: 100%;
    text-align: center;
    color: white;
    background: linear-gradient(to bottom, hsla(0,0%,0%,1) 0%,hsla(0,0%,0%,0) 100%);
}

#page-footer-bar {
    width: 100%;
    text-align: center;
    color: white;
    background: linear-gradient(to bottom, hsla(0,0%,0%,1) 0%,hsla(0,0%,0%,0) 100%);
}


