body {
	font-family: "Spoqa Han Sans";
	font-weight: 200;
	color: #fff;
	background: 
linear-gradient(-45deg, transparent 50%, hsla(0,50%,0%,0.5) 51%, transparent 52%),
radial-gradient(circle at center 10%, transparent, #000),
url(../image/Rain-City.jpg) no-repeat center;
background-size:30px 30px, 100%, cover;
}



h4 {
    color: red;
    margin-bottom: 0;
}

main {
    padding-top: 3em;
    width: 960px;
    margin-left: auto;
    margin-right: auto;
}

h4 {
    /* text-align: center; */
    color: white;
}

div#page-header-bar {
    position: fixed;
    /* transform: translateX(-50%); */
    /* left: 50%; */
    width: 100%;
    text-align: center;
}

div#page-header-bar {
    background: eee;
    background: black;
}